body {
    background-image: url("img/holz.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#paperFrame {
    visibility: hidden;
    background-image: url("img/papier_weiss_rot.jpg");
    border: black;
    border-style: dashed;
    border-width: 4px;
    position: absolute;
}

#giftOnPaper {
    visibility: hidden;
    border: black;
    border-style: dashed;
    border-width: 4px;
    position: absolute;
}

.verticalIndicator {
    border-left: 5px dashed black;
    border-right: 5px dashed black;
    visibility: hidden;
    position: absolute;
}

.horizontalIndicator {
    border-top: 10px dashed black;
    visibility: hidden;
    position: absolute;
}

.diagonalIndicator {
    stroke-dasharray: 5px;
    visibility: hidden;
    stroke-width:10px;
    stroke: black;
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Verdana;
    font-size: 50px;
}
